body {
	color: black;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 14pt;
	margin: 0 auto;
	}

h1.title {
	font-size: 45pt;
	font-variant: small-caps;
	font-weight: bold;
	text-align:center;
	margin-top: 15px;
	margin-bottom: 0px; 
	}

h2.titletop {
	font-size: 30pt;
	font-weight: bold;
	text-decoration: underline;
	font-variant: small-caps;
	padding-bottom: 5px;
	margin-bottom: 15px;
}




ul { margin:0px; padding:0; list-style:bullet; }
li { margin-left:20px; margin-bottom:5px; padding:0;  }

a { text-decoration:underline; font-weight: bold; font-size:25pt}
a:link, a:visited { color:#3333CC ; }	
a:hover{ color: #7B68EE; background-color: #DCDCDC; text-decoration: none; }	

img {border: double 1px black; }

p.tag { text-align:center; font-size: 14pt; font-weight: normal; text-decoration: none; font-variant: small-caps; }
a:link.tag, a:visited.tag { color:black; text-decoration: none; }
a:hover.tag { color: #7B68EE; background-color:#DCDCDC; text-decoration: none; }



#wrap { background: #Fce2F2; border-left: double 10px black; border-right: double 10px black;  }

#header { background:#D12B2C; padding:5px 10px; text-align:center }

#main {background: #FCE5F2;  width:680px; float:left; padding-top:0px; padding-left:10px; padding-right:10px; padding-bottom:2px; margin-bottom:0; height:1600px;   }

#lsidebar {  background:#035056; float:left; width:500px; padding:0px; text-align:center;height:1600px; }

#footer { background:#D12B2C; clear:both; padding:5px 5px;  text-align:center}



/* Star hack for IE 6 bugmargin:0 auto */
* html #footer { height:1px; }



.polaroid {
			border: dashed 6px black; 
			background: #fff;
			width: 400px;
			padding: 20px;
			margin-right: auto;
			margin-left: auto;
			margin-top: 20px;
			margin-bottom: 20px;
			text-align: center;
			}


